<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF=8">
  <title>060</title>
</head>
<body>
  <form action="/foo" method="post">
    <input type="text" name="fname">
    <input type="submit">
  </form>
</body>
</html>
