<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
{{range .}}
  <h1>{{.AcaYear}}</h1>

  <h2>{{.Fall.Term}}</h2>
  <h3>Courses</h3>
  <ul>
  {{range .Fall.Courses}}
    <li>{{.Name}} - {{.Number}} - {{.Units}}</li>
  {{end}}
  </ul>

  <h2>{{.Spring.Term}}</h2>
  <h3>Courses</h3>
  <ul>
  {{range .Spring.Courses}}
    <li>{{.Name}} - {{.Number}} - {{.Units}}</li>
  {{end}}
  </ul>
{{end}}
</body>
</html>
