<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF=8">
  <title>Hello world!</title>
</head>
<body>
  <p>{{index .Words 2}}</p>
  <p>{{index .Words 1}}</p>
  <p>{{index .Words 3}}</p>
  <p>{{.Lname}}</p>
</body>
</html>
