<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  {{if .FirstName}}
    <p>E-mail: {{.Email}}</p>
    <p>Password: {{.Password}}</p>
    <p>First Name: {{.FirstName}}</p>
    <p>Last Name: {{.LastName}}</p>
  {{else}}
    <p><a href="/signup">Signup</a> or <a href="/login">Login</a>, buddy!</p>
  {{end}}

  <p>
    Go to <a href="/bar">the bar</a>
  </p>
</body>
</html>
