<!DOCTYPE html>
<html>
{{template "head" "Index"}}
<body>
  <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{range .}}
      <tr>
        <td>{{.Isbn}}</td>
        <td>{{.Title}}</td>
        <td>{{.Author}}</td>
        <td>{{.Price}}</td>
        <td>
          <a href="/books/detail/{{.Isbn}}">Detail</a>&nbsp;
          <a href="/books/edit/{{.Isbn}}">Edit</a>&nbsp;
          <a href="#" data-id="{{.Isbn}}" class="delete-btn">Delete</a>
        </td>
      </tr>
    {{end}}
    </tbody>
    </table>
  </div>

  {{template "js"}}

  <script>
    $(document).ready(function () {
      $('.delete-btn').click(function (e) {
        e.preventDefault();

        var isbn = $(this).attr('data-id');

        var c = confirm('Are you sure want to delete this book?')

        if (c) {
          window.location = '/books/delete/' + isbn;
        }
      });
    });
  </script>
</body>
</html>
