<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello world!</title>
</head>
<body>
  <p>{{.Name}}</p>
  <p>{{.Age}}</p>
  <p>{{.SomeProcessing}}</p>
  <p>{{.AgeDouble}}</p>
  <p>{{.AgeDouble | .TakesArg}}</p>
</body>
</html>
