<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h3>Cookie Values:</h3>
  {{range .}}
    <p>{{.}}</p>
  {{end}}

  <form method="post" enctype="multipart/form-data">
    <input type="file" name="nf">
    <input type="submit">
  </form>
</body>
</html>
